a {
  color: black;
  text-underline-offset: 0.15em;
  text-decoration-color: #65affa;
}

a:focus,
a:hover {
  color: black;
  text-decoration: none;
}

td {
  text-align: left;
  vertical-align: top;
}

body, td, th, tr, p, a, strong {
  font-family: "Instrument Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 435;
}

strong, papertitle {
  font-weight: 590;
}

heading {
  font-family: "Instrument Sans", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 590;
}

name {
  font-family: "Instrument Sans", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 590;
}

:root { color-scheme: light; }

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
